@font-face {
    font-family: 'europa-bold';
    src: url("fonts/europa-bold-webfont.eot");
    src: url("fonts/europa-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/europa-bold-webfont.woff2") format("woff2"), url("fonts/europa-bold-webfont.woff") format("woff"), url("fonts/europa-bold-webfont.ttf") format("truetype"), url("fonts/europa-bold-webfont.svg#europabold") format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'europa-light';
    src: url("fonts/europa-light-webfont.eot");
    src: url("fonts/europa-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/europa-light-webfont.woff2") format("woff2"), url("fonts/europa-light-webfont.woff") format("woff"), url("fonts/europa-light-webfont.ttf") format("truetype"), url("fonts/europa-light-webfont.svg#europalight") format("svg");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'europa-regular';
    src: url("fonts/europa-regular-webfont.eot");
    src: url("fonts/europa-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/europa-regular-webfont.woff2") format("woff2"), url("fonts/europa-regular-webfont.woff") format("woff"), url("fonts/europa-regular-webfont.ttf") format("truetype"), url("fonts/europa-regular-webfont.svg#europaregular") format("svg");
    font-weight: 400;
    font-style: normal
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    min-height: 100vh;
    /* overflow-y:scroll ; */
    font-family: 'europa-regular';
    font-size: 16px;
    font-weight: 400;
}  

ul{
    list-style: none;
    padding-left: 1rem;
}

a{
    text-decoration: none !important;
}

section{
    width: 100%;
    position: relative;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    width: 100%;
}

.menuPart{
    padding: 30px 0;
}

.menuPart .topArea{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* .menuPart .topArea::before{
  position: absolute;
  right: 24%;
  transform: translateX(17%);
  top: 100px;
  background: url("../images/drop-1.png") no-repeat;
  width: 113px;
  height: 117px;
  background-size: contain;
  content: '';
} */

.menuPart .topArea .logo{
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
}

.menuPart .topArea .logo a{
    display: block;
}

.menuPart .topArea .logo a img{
    max-width: 45px;
}

.menuPart .topArea .menuArea{
    position: relative;    
    /* background: #000; */
    border-radius: 50%;
}

.menuPart .topArea .menuArea .menuBlack::before{
    width: 6px;
    height: 100px;
    background: #000;
    content: '';
    left: 2px;
    position: absolute;
    top: 38px;
    border-radius: 10px;
    transform: rotate(30deg);
    transition: all 0.1s ease-in;
}

.menuPart .topArea .menuArea .menu_icon img{
    /* filter: brightness(1) invert(1); */
    width: 36px;
    height: 36px;
}

.menuPart .topArea .menuArea .menuSub{
    position: absolute;
    right: 70px;
    top: 90px;
    border-radius: 20px 20px 20px 20px;
    padding: 20px;
    width: 240px;
    background: #000;
    /* display: none; */
    z-index: -1;
    /* transition: all 0.1s ease; */
    opacity: 0;
    /* height: 0; */
}

.menuPart .topArea .menuArea .menuSub ul{
    padding-left: 0;
}

.menuPart .topArea .menuArea .menu_icon {
    padding: 20px;
    border-radius: 50%;
    display: block;
    position: relative;
    transition: all 0s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    color: #000;
    text-transform: uppercase;
    font-family: 'europa-regular';
    /* border: 6px solid #000; */

}

.menuPart .topArea .menuArea .menuBlack {
    background: #000;
    /* transition: all 0.1s ease; */
}

.menuPart .topArea .menuArea .menuBlack img {
    filter: brightness(1) invert(1);
}

.menuPart .topArea .menuArea .subMenuClick {
    /* display: block; */
    opacity: 1;
    z-index: 2;
    /* transition: all .1s ease; */
    /* height: 520px; */
}

.menuPart .topArea .menuArea .menuSub ul li {
    position: relative;
}

.menuPart .topArea .menuArea .menuSub ul li {
    text-align: center;
}

.menuPart .topArea .menuArea .menuSub ul li:not(:last-child) {
    margin-bottom: 30px;
}

.menuPart .topArea .menuArea .menuSub ul li.active::before {
    position: absolute;
    left: 10px;
    top: 6px;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
}

.menuPart .topArea .menuArea .menuSub ul li a{
    color: #fff;
    font-size: 16px;
    font-family: 'europa-light';
    text-transform: uppercase;
}

.menuPart .topArea .menuArea .menuSub ul li.active a {
    font-family: 'europa-bold';

}

/* .homeMain::before{
    background: url("image/homeBgMain.png") no-repeat;
    left: 0;
    top: 0;
    width: 100%;
    height: 65%;
    background-size: 100% 100%;
    background-position: top;
    position: absolute;
    content: '';
} */

.centerContent{
    margin-top: 70px;
}

.centerContent .wtrLogoArea{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 900px;
    margin: 00px auto 0;
    position: relative;
}

.centerContent .wtrLogoArea::before {
  position: absolute;
  right:0px;
  top: -210px;
  background: url("images/big2drop.png") no-repeat;
  width: 182px;
  height: 278px;
  background-size: contain;
  content: '';
}

/* .centerContent .wtrLogoArea::after{
  position: absolute;
  right: 0px;
  top: -220px;
  background: url("../images/small2drop.png") no-repeat;
  width: 37px;
  height: 66px;
  background-size: contain;
  content: '';
} */

.centerContent .wtrLogoArea .watrLogo{
    width: fit-content;
    /* margin-left: 40px; */
    margin-bottom: 40px;
    position: relative;
}

.centerContent .wtrLogoArea .watrLogo img{
    width: 400px;
}

.centerContent .wtrLogoArea .watrLogo::after{
  position: absolute;
  right: -70px;
  top: 0px;
  background: url("images/small2drop.png") no-repeat;
  width: 37px;
  height: 66px;
  background-size: contain;
  content: '';
}

.centerContent .wtrLogoArea .data{
    font-size: 18px;
    font-weight: 300;
    color: #000000;
    text-transform: uppercase;
    font-family: 'europa-light';
    letter-spacing: 3px;
}

.centerContent .wtrLogoArea .flowing{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.centerContent .wtrLogoArea .flowing .stayEngage{
    display: flex;
    align-items: center;
    gap: 15px;
}

.centerContent .wtrLogoArea .flowing .stayEngage a{
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerContent .wtrLogoArea .flowing .stayEngage a img{
    width: 22px !important;
    height: auto;
    object-fit: contain;
    filter: brightness(1) invert(1);
}

.centerContent .wtrLogoArea .data span{
    font-family: 'europa-regular';
}

.centerContent .wtrLogoArea .flowing span{
    font-family: 'europa-bold';
}

.centerContent .wtrLogoArea .flowing .slash{
    font-size: 30px;
    line-height: normal;
    margin-top: -1px;
}

.centerContent .wtrLogoArea .disc{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
}

.centerContent .wtrLogoArea .formAra{
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;
    width: fit-content;
    margin: 60px auto 0;
}

.centerContent .wtrLogoArea .formAra::before{
    position: absolute;
    left: 0;
    height: 4px;
    width: 240px;
    top: 50%;
    content: '';
    background: #000;
}

.centerContent .wtrLogoArea .formAra input{
    width: 240px;
    height: fit-content;
    padding:0 10px;
    border: none !important;
    font-size: 14px;
    text-align: center;
}

.centerContent .wtrLogoArea .formAra input:focus{
    border: none !important;
    outline: none !important;
}

.centerContent .wtrLogoArea .formAra button{
    width: 55px;
    height: 55px;
    background: #000000;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    transition: 0.3s ease;
    border: none;
    outline: none;
}

.centerContent .wtrLogoArea .formAra button:hover{
    color: #DF5509;
    transition: 0.3s ease;
}

footer{
    position: relative;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 60px;
}

footer::before{
    background: url('images/bgBtm.webp') no-repeat;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 580px;
    background-size: contain;
    background-position: right;
    content: '';
    position: absolute;
}

footer .footerLinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* margin-top: 60px; */
}

footer a.insta{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}

footer a.insta img{
    filter: brightness(1) invert(1);
}

.mainInsta{
    width: 25px !important;
    height: auto;
}

/* footer .footerLinks::before{
    position: absolute;
    left:26% ;
    transform: translateX(-50%);
    top: -250px;
    background: url("../images/drop-1.png") no-repeat;
    width: 210px;
    height: 214px;
    background-size: contain;
    content: '';
} */

footer .footerLinks .footerData{
    font-family: 'europa-bold';
    font-size: 14px;
    color: #000;    
    width: 45%;
    text-transform: uppercase;
    
}

footer .footerLinks .footerData:last-child{
    text-align: right;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
}

footer .footerLinks .footerData a{
    color: #000;
    text-decoration: underline !important;
}

footer .footerLinks img{
    width: 300px;
}

.homeSlider{
    position: relative;
}

.homeSlider .owl-carousel{
    padding: 150px 60px 0;
}

.homeSlider .item .watrLogo{
    width: 200px;
}

.homeSlider .item .data{
    font-size: 34px;
    color: #000000;
    text-transform: uppercase;
    font-family: 'europa-light';
    margin: 25px 0;
}

.homeSlider .item .data span{
    font-family: 'europa-bold';
}

.homeSlider .item p{
    font-size: 20px;
    line-height: 40px;
    color: #000000;
    text-transform: uppercase;
    font-family: 'europa-light';
    margin-bottom: 40px;
    text-align: center;
}

.homeSlider .items2 p{
    font-size: 16px;
    line-height: 36px;
}

.homeSlider .item p span{
    font-family: 'europa-bold';
}

.homeSlider .item p a{
    color: #000;
}

/* .sliderPart::before{
    background: url("images/sliderBg-2.png") no-repeat;
    left: 0;
    top: 0;
    width: 600px;
    height: 100%;
    background-size: 100%;
    background-position: top;
    position: absolute;
    content: '';
} */

.sliderPart .menuPart .topArea::before{
    display: none;
}

.homeSlider .item .stay{
    text-align: center;
    margin-top: 120px;
}

.homeSlider .item .stay img{
    width: 300px;
    margin: 0 auto;
}

.stay2 img{
    width: 400px;
}

.owl-nav{
    position: absolute;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 2px;
    left: auto;
    right: 0;
    transform:none;
}

/* .owl-nav .owl-prev{
    background: url("../images/left-arw.svg") !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 50% !important;
    background-size: contain;
}

.owl-nav .owl-next{
    background: url("../images/right-arw.svg") !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 50% !important;
    background-size: contain;
} */

.owl-nav span{
    display: none;
}

.owl-dots{
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 20px;
    top: 0;
    width: 25%;
    margin: 0 auto;
    right: 30px;
}

.owl-dots button span{
    border: 1px solid #000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: .4s ease;
    display: block;
}

.owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
    background: #000;
    transition: .4s ease;
}

.homeSlider .item .watrLogo{
    position: relative;
    padding-top: 50px;
    margin-bottom: 80px !important;
    margin: 0 auto 100px;
}

/* .homeSlider .item .watrLogo::before{
    position: absolute;
    right:-100% ;
    top:20px;
    background: url("images/twoDrops.png") no-repeat;
    width: 120px;
    height: 120px;
    background-size: contain;
    content: '';
    display: none;
}

.homeSlider .item .watrLogo.slideDropmain::before{
    position: absolute;
    right:0% ;
    top:20px;
    background: url("../images/twoDrops.png") no-repeat;
    width: 120px;
    height: 120px;
    background-size: contain;
    content: '';
    display: block !important;
} */

.homeSlider .item .imgPrt{
    text-align: center;
    position: relative;
}

/* .homeSlider .item .imgPrt::before{
    position: absolute;
    left: 65px;
    top: 50%;
    background: url("../images/twoDrops.png") no-repeat;
    width: 61px;
    height: 108px;
    background-size: contain;
    content: '';
} */


.homeSlider .item .imgPrt img {
    width: 232px;
    height: auto;
    object-fit: contain;
    margin: 0 40px 0 auto;
}

.homeSlider .item .imgPrt img.bottleSlide{
    width: 160px;
}

.sliderPart footer .footerLinks::before{
    left: 20%;
    width: 150px;
    height: 154px;
}

.homeSlider .items2 .watrLogo::before{
    display: none;
}

.homeSlider .items2 .watrLogo {
    width: 100%;
    margin-bottom: 40px;
}

.homeSlider .items2 .watrLogo img{
    margin: 0 auto;
    width: 300px;
}

.homeSlider .items2 .insta{
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.homeSlider .items2 .insta img{
    width: 25px;
    height: 25px;
    margin: 0 auto;
}

/* .sliderPart2::before{
    background: url("../images/innerBg.svg") no-repeat;
    left: -100px;
    top: -100px;
    width: 718px;
    height: 660px;
    background-size: cover;
    background-position: top;
    position: absolute;
    content: '';   
} */

.sliderPart2 .menuPart .topArea::before{
    display: none;
}

.slider2 .item h4{
    color: #000;
    font-size: 64px;
    font-family: 'europa-light';
    font-weight: 300;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding-right: 100px;
    margin-bottom: 100px;
}

.slider2 .item h4::before{
    position: absolute;
    right: 0%;
    transform: translateX(0%);
    bottom: -10px;
    width: 9px;
    height: 115px;
    background: #000;
    content: '';
}

.slider2 .item a{
    font-size: 18px;
    font-family: 'europa-light';
    color: #000;
    margin-top: 50px;
    margin-bottom: 40px;
    display: block;
    text-transform: uppercase;
    text-align: center;
}

.slider2 .item a span{
    font-family: 'europa-regular';
    text-decoration: underline;
}

.slider2 .item .threeDrop{
    width: auto;
    margin: 100px auto;
}

.slider2 .item .data{
    font-size: 26px;
    font-family: 'europa-light';
    color: #000;
    margin-top: 50px;
    margin-bottom: 40px;
    display: block;
    text-transform: uppercase;
    text-align: center;
}

.slider2 .item .data span{
    font-family: 'europa-bold';
}

.slider2 .item .stay{
    width: 250px;
    margin: 0 auto;
}

.sliderPart2 footer .footerLinks::before{
    display: none;
}

.slider2 .owl-nav{
    width: 30%;
    left: auto;
    right: 0;
    top: 2px;
    transform: none;
}

.slider2 .owl-dots {
    gap: 20px;
    top: 0;
    width: 25%;
    margin: 0 auto;
    right: 30px;
}

.slider2 .owl-carousel .item{
    padding-top: 150px;
}

.slider2 .owl-dots button span {
    width: 25px;
    height: 25px;
}

.commonBox{
    text-align: center;
    margin-top: 40px;
}

.commonBox h4{
    color: #000;
    font-size: 64px;
    font-family: 'europa-light';
    font-weight: 300;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    width: fit-content;
    margin: 0 auto 100px;
    padding-right: 100px;
}

.commonBox h4::before {
    position: absolute;
    right:40px;
    transform: translateX(0%);
    bottom: 0;
    width: 9px;
    height: 115px;
    background: #000;
    content: '';
}

/* .commonBox h4::after {
    position: absolute;
    right:-30% ;
    transform: translateX(50%);
    top:-50px;
    background: url("../images/twoDrops.png") no-repeat;
    width: 102px;
    height: 181px;
    background-size: contain;
    content: '';
} */

.commonBox .commonImg{
    margin: 100px 0 !important;
}

.dataC{
    font-size: 26px;
    font-family: 'europa-light';
    color: #000;
    margin-top: 60px;
    margin-bottom: 60px;
    display: block;
    text-transform: uppercase;
    text-align: center;
}

.dataC span {
    font-family: 'europa-bold';
}

.values{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 200px;
}

.values .center{
    width: 1px;
    background: #000;
    height:auto;
}

.values .left, .values .right{
    width: 45%;
    border-top: 1px solid #000;
}

.values .left .valueContentLeft{
    display: flex;
    align-items: center;
    gap: 60px;
    font-family: 'europa-light';
    border-bottom: 1px solid #000000;
    min-height: 250px;
    width: 100%;
}

.values .left .valueContentLeft > div{
    width: 100%;
}

.values .left .valueContentLeft h5{
    font-size: 70px;
    line-height: normal;
    text-transform: uppercase;
    text-align: left;
    color: #C4C4C4;
    width: calc(100% - 40px);
    margin-bottom: 0;
}

.values .left .valueContentLeft p{
    font-size: 15px;
    line-height: 28px;
    color: #000000;
    font-family: 'europa-light';
    margin-bottom: 0;
    display: none;
}

/* .values .left .valueContentLeft input[type="radio"]{
    width: 40px;
    height: 40px;
} */

.values .left .valueContentLeft input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

.values .left .valueContentLeft input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 38px;
  height: 38px;
  background: black;
  border-radius: 50%;
}

.values .right .valueContentRight{
    font-family: 'europa-light';
    color: #000000;
    font-size: 20px;
    line-height: 34px;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid #000000;
    min-height: 250px;
    display: flex;
    align-items: center;
}

.values .left .valueContentLeft.active h5{
    color: #000;
}

.values .right .valueContentRight.active{
    font-family: 'europa-bold';
}

.handBowlImg{
    text-align: right;
    padding: 4rem 0;
}

.founderDeatils{
    width: 80%;
    margin: 70px auto 50px;
    text-align: left;
}

.founderDeatils p{
    font-size: 20px;
    line-height: 50px;
    font-family: 'europa-light';
    text-align: justify;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.founderDeatils p span{
    font-family: 'europa-regular';
}

.grassDrop{
    /* margin-top: 100px; */
    margin-bottom: 0px;
    padding-top: 300px;
}

.grassDrop img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.privacy p{
    font-size: 16px;
    line-height: 32px;
}

.discov{
    display: flex;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
    color: #000000 !important;
    font-size: 28px;
    font-family: 'europa-regular';
    justify-content: center;
    margin-top: 100px;
}

.textOrange{
    color:  #DF5509 !important;
}

.stayStrongNew{
    margin-bottom: 40px;
    margin-top: -100px;
}

.grassDropEco{
    padding-top: 0;
}

.founderH h4::before{
    right: auto;
    left: -100px;
}

/* .theFuture h4::after{
    background: url('../images/pill-1.png') no-repeat !important;
    background-size: contain !important;
    width: 200px;
    height: 110px;
    margin-top:-10px;
    top: 10%;
} */

.futureImag img{
    width: 40% !important;
}

.ourFocusData{
    margin: 120px 0;
}

.homeSlash{
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 90px;
}

.homeSlash .slash{
    font-size: 40px;
    line-height: normal;
    margin-top: -4px;
}

.period{
    background: #000;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-top: 10px;
}

.menuBlack .mobMb{
    display: block;
}

.menuBlack .deskT{
    display: none;
}

@media(min-width:768px){
    .mobileLogo, .closeMenu, .mobileView, .mobileView2{
        display: none;
    }
    .ecosystemMobile, .threeDropMobile{
        display: none;
    }
    .ourvalueThreeDrp{
        display: none;
    }
    .approachMob{
        display: none;
    }
    .handBowlImgPhone{
        display: none;
    }
    .mobiledrpAppr{
        display: none;
    }
    .valueandApp{
        display: none;
    }
    .centerApproach{
        display: none;
    }
    .forMob{
        display: none;
    }
    .mobMb{
        display: none;
    }
    .onlyMob{
        display: none;
        font-family: 'europa-regular' !important;
    }
    .mobileStayText{
        display: none;
    }
}

@media(min-width:1025px) and (max-width:1199px){
    .centerContent .wtrLogoArea::before {
        left: 0;
        top: -350px;
    }
    footer::before {
        height: 360px;
    }
}

@media(min-width:992px) and (max-width:1024px){
    .centerContent .wtrLogoArea::before {
        right: 0;
        top: -250px;
    }
    .menuPart .topArea::before {
        right: 34%;
        transform: translateX(50%);        
    }
    .centerContent .wtrLogoArea::after {
        right: -50px;
        width: 170px;
        height: 174px;
    }
    footer .footerLinks::before {
        width: 180px;
        height: 184px;
    }
    .homeSlider .item .watrLogo{
        width: 200px;
        margin-bottom: 60px;
    }
    .homeSlider .item .watrLogo::before {
        top: 20px;
        width: 120px;
        height: 124px;
        background-size: contain;
    }
    .homeSlider .item .data {
        font-size: 20px;
        line-height: 30px;
    }
    .homeSlider .item p {
        font-size: 18px;
        line-height: 28px;
    }
    .homeSlider .item .imgPrt::before {
        left: -60px;
        width: 130px;
        height: 130px;
        background-size: contain;
    }
    footer::before {
        height: 350px;
    }
}

@media(min-width:768px) and (max-width:991px){
    .centerContent .wtrLogoArea::after{
        right: 0;
        bottom: -180px;
    }
    .homeSlider .owl-carousel {
        padding: 100px 0px 0;
    }
    .homeSlider .item .watrLogo{
        width: 200px;
        margin-bottom: 60px;
    }
    .homeSlider .item .watrLogo::before {
        top: 20px;
        width: 120px;
        height: 124px;
        background-size: contain;
    }
    .homeSlider .item .data {
        font-size: 20px;
        line-height: 30px;
    }
    .homeSlider .item p {
        font-size: 18px;
        line-height: 28px;
    }
    .homeSlider .item .imgPrt::before {
        left: -60px;
        width: 130px;
        height: 130px;
        background-size: contain;
    }
    .homeSlider .item .imgPrt img {
        width: 160px;
    }
    .slider2 .owl-nav {
        width: 40%;
    }
    .slider2 .owl-dots {
        gap: 10px;
        right: 53px;
    }
    .commonBox h4::after{
        display: none;
    }
    .commonBox h4{
        font-size: 54px;
    }
    .values{
        margin-top: 60px;
    }
    .values .left {
        width: 100%;
        border-top: none;
    }
    .values .right, .values .center{
        display: none;
    }
    .values .left .valueContentLeft{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .values .left .valueContentLeft h5 {
        font-size: 40px;
    }
    .values .left .valueContentLeft p{
        display: block;
        text-align: left;
    }
    .values .left .valueContentLeft.active p{
        font-family: 'europa-bold';
    }
    .centerContent .wtrLogoArea {
        width: 100%;
    }
    .centerContent .wtrLogoArea .data {
        font-size: 15px;
        padding-left: 50px;
        letter-spacing: 1px;
    }
    .owl-nav {
        width: 34%;
        top: 3px;
    }
    .centerContent .wtrLogoArea::before{
        right: 0;
        top: -240px;
        width: 152px;
        height: 238px;
    }
    footer::before {
        height: 300px;
    }
}

@media(max-width:767px){
    .homeMain::before{
        display: none;
    }
    .menuPart .topArea::before{
        display: none;
    }
    .mobileView{
        width: 100%;
        margin-bottom: 60px;
        position: relative;
    }
    /* .mobileView::before{
        position: absolute;
        left: 40%;
        transform: translateX(-50%);
        bottom: 25px;
        background: url("../images/drop-1.png") no-repeat;
        width: 80px;
        height: 87px;
        background-size: contain;
        content: '';
    } */
    /* .mobileView::after{
        position: absolute;
        left: 65%;
        transform: translateX(-50%);
        bottom: -13px;
        background: url("../images/drop-1.png") no-repeat;
        width: 130px;
        height: 137px;
        background-size: contain;
        content: '';
    } */
    .centerContent .wtrLogoArea .watrLogo {
        width: 250px;
        margin-bottom: 50px;
    }
    .discov{
        margin-top: 50px;
        font-size: 18px;
        gap: 10px;
    }
    .discov img{
        width: 30px;
        height: 30px;
    }
    .centerContent .wtrLogoArea .data {
        font-size: 17px;
        line-height: 26px;
    }
    .centerContent .wtrLogoArea .flowing {
        font-size: 20px;
        line-height: 26px;
        justify-content: start;
        letter-spacing: 3px;
        margin-top: 70px !important;
    }
    .centerContent .wtrLogoArea .flowing .stayEngage{
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }
    .centerContent .wtrLogoArea .flowing .stayEngage .stayD{
        display: none;
    }
    .mobileStayText{
        font-family: 'europa-bold';
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 3px;
        color: #000;
        display: flex;
        justify-content: end;
        margin-bottom: 40px;
    }
    footer .footerLinks::before{
        display: none;
    }
    
    .centerContent .wtrLogoArea::after{
        display: none;
    }
    .centerContent .wtrLogoArea{
        width: 100%;
        margin: 110px auto 0;
    }
    .mobileView2{
        width: 100%;
        margin-top: -270px;
    }
    .grassDrop {
        margin-top: -90px;
        padding-top: 0px;
    }
    .stayStrongNew {
        margin-top: 0;
    }
    .mobileView2 img{
        width: 100%;
    }
    footer .stay{
        margin-bottom: 60px !important;
    }
    .menuPart .container{
        width: 100%;
        padding: 0;
    }
    .menuPart .topArea .menuArea .menuSub{
        width: 100%;
        top: -20px;
        border-radius: 0;
        height: 100vh;
        right: 0;
    }
    .menuPart .topArea .menuArea .menu_icon {
        padding: 16px;
        border: none;
    }
    .menuPart .topArea .menuArea .menuBlack::before{
        display: none;
    }
    .menuPart .topArea .menuArea .menuSub ul{
        padding-left: 0;
    }
    .menuPart .topArea .menuArea {
        position: unset;
        margin-right: 10px;
    }
    .mobileLogo{
        text-align: center;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    .mobileLogo img{
        width: 35px;
    }
    .bodyHidden{
        overflow-y: hidden !important;
    }
    .menuPart .topArea .menuArea .menuSub ul li:not(:last-child) {
        margin-bottom: 20px;
    }
    .menuPart .topArea .menuArea .menuSub ul li.active::before {
        left: -30px;
    }
    .menuPart .topArea .menuArea .menuSub ul li {
        width: fit-content;
        margin: 0 auto;
    }
    .closeMenu{
        text-align: center;
        margin-top: 40px;
        cursor: pointer;
    }
    .homeSlider .owl-carousel {
        padding: 100px 0px 0;
    }
    .owl-dots button span {
        width: 20px;
        height: 20px;
    }
    .owl-nav {
        top: 0;
        width: 55%;
        left: 0;
        transform: translateX(0);
    }
    .owl-dots{
        gap: 10px;
        width: 45%;
        margin: 0;
        right: auto;
        left: 2%;
        transform: translateX(5%);
    }
    .ecosystemMobile{
        width: 100%;
        text-align: right;
        margin-bottom: -100px;
    }
    .sliderPart::before{
        display: none;
    }
    .homeSlider .item .watrLogo {
        width: 170px;
        margin-bottom: 70px !important;
        margin: 0 0 20px;
    }
    .homeSlider .items2 .insta{
        margin-bottom: 40px;
    }
    /* .homeSlider .item .watrLogo::before {
        right: -120px;
        width: 84px;
        height: 86px;
        top: 20px;
        background-size: 100% 100% !important;
        background: url(../images/drop-1.png) no-repeat;
    } */
    .grassDropEco{
        margin-top: 50px;
    }
    .homeSlider .item .data{
        font-size: 18px;
        text-align: center;
    }
    .homeSlider .item p {
        font-size: 14px;
        line-height: 26px;
    }
    .threeDropMobile {
        text-align: center;
        margin: 50px 0;
    }
    .threeDropMobile img{
        width: 50% !important;
        margin: 0 auto;
    }
    .homeSlider .items2 .watrLogo::before{
        display: block;
    }
    .homeSlider .item .imgPrt::before{
        display: none;
    }
    .homeSlider .item .imgPrt img {
        width: 211px;
        margin: 0 auto;
        height: 440px;
    }
    .sliderPart2::before{
        display: none;
    }
    .slider2 .owl-nav {
        width: 60%;
        left: 0;
        top: 0;
    }
    .slider2 .owl-dots button span {
        width: 20px;
        height: 20px;
    }
    .slider2 .item h4 {
        font-size: 30px;
        padding-right: 0px;
        margin-bottom: 80px;
        margin-top: 80px;
    }
    .slider2 .item h4::before{
        /* display: none; */
        height: 82px;
        right: -40px;
    }
    .slider2 .owl-dots {
        gap: 10px;
        width: 45%;
        margin: 0;
        right: 30px;
    }
    .slider2 .item a span{
        display: block;
    }
    .slider2 .item .threeDrop{
        margin: 140px auto;
    }
    .slider2 .item .data {
        font-size: 16px;
        margin-bottom: 80px;
    }
    .commonBox h4 {
        font-size: 32px;
        margin: 0 auto;
        padding-right: 0px;
    }
    .commonBox h4::before{
        /* display: none; */
        right: -40px;
        height: 82px;
        bottom: -10px;
        /* transform: translateX(0%);
        height: 2px;
        width: 80%; */
    }
    .commonBox h4::after{
        display: none;
    }
    .dataC {
        font-size: 18px;
        line-height: 36px;
    }
    .founderDeatils {
        width: 100%;
    }
    .founderDeatils p {
        font-size: 14px;
        line-height: 30px;
    }
    .commonImg img{
        width: 50%;
    }
    .values{
        margin-top: 60px;
    }
    .values .left {
        width: 100%;
        border-top: none;
    }
    .values .right, .values .center{
        display: none;
    }
    .values .left .valueContentLeft{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        border-bottom: none;
    }
    .values .left .valueContentLeft h5 {
        font-size: 40px;
    }
    .values .left .valueContentLeft p{
        display: block;
        text-align: left;
        text-transform: uppercase;
    }
    .values .left .valueContentLeft.active p{
        font-family: 'europa-bold';
    }
    .approachMobMid h4{
        display: none;
    }
    .approachMob{
        width: 100%;
    }
    .approachMobMid{
        margin-top: 0;
    }
    .approachMobMid .values{
        margin-top: 0;
        margin-bottom: 50px;
    }
    .centerApproach{
        margin-top: 0;
    }
    .approachMob h4{
        font-size: 32px;
        margin: 0 auto;
        padding: 0px 15px;
        font-family: 'europa-light';
        font-weight: 300;
        padding-bottom: 10px;
        position: relative;
        text-transform: uppercase;
        text-align: center;
        width: fit-content;
    }
    .approachMob h4::before{
        position: absolute;
        right: -40px;
        transform: translateX(0%);
        bottom: -10px;
        width: 9px;
        height: 82px;
        background: #000;
        content: '';
    }
    .handBowlImg{
        border-bottom: 1px solid #000;
        padding: 4rem 0 6rem;
    }
    .handBowlImg{
        display: none;
        border-bottom: none;
    }
    .handBowlImgPhone{
        display: block;
    }
    footer .footerLinks .footerData {
        font-size: 9px;
        width: 59%;
    }
    footer .footerLinks .footerData:last-child{
        width: 40%;
    }
    .mainInsta {
        width: 20px !important;
    }
    .menuPart .topArea .menuArea .menu_icon span{
        display: none;
    }
    .menuPart .topArea .logo a img {
        max-width: 45px;
    }
    .menuPart {
        padding: 20px 0;
    }
    .centerContent {
        margin-top: 0px;
    }
    .values .left .valueContentLeft{
        padding: 40px 0;
    }
    .stay2 img {
        width: 300px;
    }
    .privacy p{
        font-size: 14px;
        line-height: 26px;
    }
    .founderDrop{
        margin-top: 0;
    }
    .desktopdrpAppr{
        display: none;
    }
    .valueandApp{
        width: 50%;
        opacity: 1;
        color: #000;
        height: 2px !important;
        margin: 20px auto;
    }
    .linkHide{
        display: none;
    }
    .futureImag img {
        width: 75% !important;
    }
    /* .homeSlider .item .firstSlide::before{
        right: -130px;
        width: 84px;
        height: 86px;
        top: 30px;
        background-size: 100% 100% !important;
        background: url(../images/drop-1.png) no-repeat;
        display: block !important;
        position: absolute;
        content: '';
    }
    .homeSlider .item .watrLogo.slideDropmain::before {
        right: -120px;
        width: 84px;
        height: 86px;
        top: 20px;
        background-size: 100% 100% !important;
        background: url(../images/drop-1.png) no-repeat;
    } */
    .forMob{
        display: block;
    }
    .forDesk{
        display: none;
    }
    .future2{
        margin-top: 60px;
    }
    .period{
        margin-top: 4px;
    }
    .deskT{
        display: none;
    }
    .theFuture h4{
        margin: 0;
    }
    .theFuture h4::after{
        display: block;
        width: 130px;
        height: 70px;
        background-size: contain;
        right: 0;
    }
    .homeSlash{
        display: block;
        padding-left: 25px;
        position: relative;
        letter-spacing: 1px !important;
    }
    .homeSlash .slash{
        position: absolute;
        left: 0;
        font-size: 60px;
        top: -13px;
    }
    .centerContent .wtrLogoArea .watrLogo::after {
        right: -38px;
        width: 18px;
        height: 32px;
        object-fit: contain;
    }
    footer{
        margin-top: 40px;
    }
    footer::before {
        background: url(images/footerBgnew.webp) no-repeat;
        left: 0;
        bottom: 50px;
        width: 100%;
        height: 486px;
        background-size: 100% 100%;
        content: '';
        position: absolute;
    }
    .centerContent .wtrLogoArea::before{
        left: 20px;
        width: 94px;
        height: 143px;
        object-fit: contain;
        top: -175px;
    }
    .videoSec{
        margin-bottom: 350px;
    }
}